body, html, #loading {
	display: block;
	width: 100%;
	height: 100%;
	background: #000;
	color: #fff;
	padding: 0;
	margin: 0;
}

body main{
	transition: opacity 2s;
	opacity: 0;
}

body.loaded main{
	opacity: 1;
}

body.loaded #loading{
	display: none;
}

#loading > * {
	display: block;
	position: absolute;
	top: 40%;
	background: #f00;
	animation: loading infinite ease-out 2.5s;
}